* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 4px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

.logo{
  text-align: left;
}

.menu ul,
.menu li {
  font-size: 16px;
}

.menu ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
}

.sidebar {
  background-color: #C50208;
  display: grid;
  gap: 50px;
  grid-row: 2/4;
}

.sidebar>div {
  display: grid;
  align-items: center;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  background-color: #C50208;
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;

}

.nav ul {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  list-style: none;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  background-color: #bccbde;
  grid-column: 2/3;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
  min-height: 200px;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  grid-column: 1/3;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}



/*
Hey future me, I'm pretty sure this is just grids inside of grids
find the gridlines in the dev tools and go to town
*/

/*
I didn't read the README file. It is in fact grids inside of grids
*/
